	<div class="about-container">
		<h1 class="about">About</h1>
			<div class="row">
				<div class="about-box">
					<p>Delish List brings over 300,000 recipes right to you. Find the perfect
					recipe and add the ingredients to your shopping list. Search recipes that fit
					your lifestyle. We support gluten free recipe searches.</p><br> 
	
					<p>After you have finished adding recipes to your shopping list, take it with you. 
						Send a text message that contains all the ingredients that you saved.</p><br>	

					<p>This App is powered by the recipes api.</p>
			</div>
		</div>
	</div>

