<div class="recipes-page">
	<div class="container">
		<h1>Recipes</h1>
			<div class="row">
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						</p>Chicken Delish</p><br>
						<%= button_to "View Ingredients", "#", class:"btn btn-default ingredient-btn" %>
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						<p>Gluten Free Pancakes</p><br>
						<%= link_to "View Ingredients", "#", class:"ingredient-hover" %>
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						<p>	Spinach Artichoke Dip</p><br>	
						<%= link_to "View Ingredients", "#", class:"ingredient-hover" %>
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						<p>Spanish Chicken and Rice</p><br>
						<%= link_to "View Ingredients", "#", class:"ingredient-hover" %>
					</div>
			</div>

		</div>
	</div>
</div>


		
