<div class="recipes-page">
	<div class="container">
		<h1>Recipes</h1>
			<div class="row">
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						Chicken Delish	
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						Gluten Free Pancakes
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						Spinach Artichoke Dip	
					</div>
			</div>
				<div class="recipe-box col-sm-3">
					<div class="recipes-box-image">
					</div>
					<div class="recipes-box-title">
						Spanish Chicken and Rice	
					</div>
			</div>

		</div>
	</div>
</div>


		
