<div class="recipes-page">
	<div class="container">
		<h1 class="recipe-heading">Recipes</h1>
		<div class="row">
		<% @recipes.each do |recipe| %>
			<div class="recipe-box col-sm-3">
				<div class="recipes-box-image">
					<%= image_tag recipe.image_url %>
				</div>
				<div class="recipes-box-title">
						<h4><%= recipe.title %></h4>
					<%= link_to "View Ingredients", recipe_path(recipe), class:"btn btn-default ingredient-btn" %>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>


		
