---
http_interactions:
- request:
    method: get
    uri: http://api.bigoven.com/recipe/100?api_key=dvx763458nvGiC8cM7bHQYCPHT9KK12R
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<Recipe xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <RecipeID>100</RecipeID>\r\n  <Title>Killer Bread</Title>\r\n  <Description>NOTE:
        This is a test recipe on BigOven, used by the team to test the platform. Please
        ignore the various comments, etc. Thank you!</Description>\r\n  <Category>Bread</Category>\r\n
        \ <Subcategory>Sourdough and Starters</Subcategory>\r\n  <PrimaryIngredient>Grains</PrimaryIngredient>\r\n
        \ <StarRating>3</StarRating>\r\n  <WebURL>http://www.bigoven.com/recipe/killer-bread/100</WebURL>\r\n
        \ <ImageURL>http://redirect.bigoven.com/pics/rs/640/killer-bread-7.jpg</ImageURL>\r\n
        \ <ReviewCount>2</ReviewCount>\r\n  <MedalCount>0</MedalCount>\r\n  <FavoriteCount>8</FavoriteCount>\r\n
        \ <Poster>\r\n    <UserID>0</UserID>\r\n    <ImageURL48>http://images.bigoven.com/image/upload/t_recipe-48,d_avatar-default.png/avatar-default.png</ImageURL48>\r\n
        \   <IsPremium>false</IsPremium>\r\n    <IsKitchenHelper>false</IsKitchenHelper>\r\n
        \   <PremiumExpiryDate xsi:nil=\"true\" />\r\n    <MemberSince xsi:nil=\"true\"
        />\r\n    <IsUsingRecurly>false</IsUsingRecurly>\r\n  </Poster>\r\n  <Ingredients>\r\n
        \   <Ingredient>\r\n      <IngredientID>1044</IngredientID>\r\n      <DisplayIndex>0</DisplayIndex>\r\n
        \     <IsHeading>false</IsHeading>\r\n      <Name>Mayonnaise</Name>\r\n      <HTMLName>&lt;a
        href=\"http://www.bigoven.com/article/recipe/mayonnaise\" class=\"glosslink\"&gt;Mayonnaise&lt;/a&gt;</HTMLName>\r\n
        \     <Quantity>1</Quantity>\r\n      <DisplayQuantity>1</DisplayQuantity>\r\n
        \     <Unit>c</Unit>\r\n      <MetricQuantity>237</MetricQuantity>\r\n      <MetricDisplayQuantity>237</MetricDisplayQuantity>\r\n
        \     <MetricUnit>ml</MetricUnit>\r\n      <IngredientInfo>\r\n        <Name>Mayonnaise</Name>\r\n
        \       <Department>Condiments</Department>\r\n      </IngredientInfo>\r\n
        \     <IsLinked>true</IsLinked>\r\n    </Ingredient>\r\n    <Ingredient>\r\n
        \     <IngredientID>1045</IngredientID>\r\n      <DisplayIndex>1</DisplayIndex>\r\n
        \     <IsHeading>false</IsHeading>\r\n      <Name>Grated Parmesan</Name>\r\n
        \     <HTMLName>Grated &lt;a href=\"http://www.bigoven.com/article/recipe/parmesan\"
        class=\"glosslink\"&gt;Parmesan&lt;/a&gt;</HTMLName>\r\n      <Quantity>1</Quantity>\r\n
        \     <DisplayQuantity>1</DisplayQuantity>\r\n      <Unit>c</Unit>\r\n      <MetricQuantity>237</MetricQuantity>\r\n
        \     <MetricDisplayQuantity>237</MetricDisplayQuantity>\r\n      <MetricUnit>ml</MetricUnit>\r\n
        \     <PreparationNotes>fresh</PreparationNotes>\r\n      <IngredientInfo>\r\n
        \       <Name>Grated Parmesan</Name>\r\n        <Department>Cheeses</Department>\r\n
        \     </IngredientInfo>\r\n      <IsLinked>true</IsLinked>\r\n    </Ingredient>\r\n
        \   <Ingredient>\r\n      <IngredientID>1046</IngredientID>\r\n      <DisplayIndex>2</DisplayIndex>\r\n
        \     <IsHeading>false</IsHeading>\r\n      <Name>Garlic</Name>\r\n      <HTMLName>&lt;a
        href=\"http://www.bigoven.com/article/recip[...]
