---
http_interactions:
- request:
    method: get
    uri: http://api.bigoven.com/recipes?api_key=dvx763458nvGiC8cM7bHQYCPHT9KK12R&pg=1&rpp=40&title_kw=Goonies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Fri, 13 Mar 2015 04:25:34 GMT
    body:
      encoding: UTF-8
      string: "<RecipeSearchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResultCount>0</ResultCount>\r\n
        \ <Results />\r\n  <SpellSuggest />\r\n</RecipeSearchResult>"
  recorded_at: Fri, 13 Mar 2015 04:25:32 GMT
recorded_with: VCR 2.9.3
