---
http_interactions:
- request:
    method: get
    uri: http://api.bigoven.com/recipes?api_key=dvx763458nvGiC8cM7bHQYCPHT9KK12R&pg=1&rpp=40&title_kw=Brownies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Fri, 13 Mar 2015 03:45:00 GMT
    body:
      encoding: UTF-8
      string: "<RecipeSearchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResultCount>2293</ResultCount>\r\n
        \ <Results>\r\n    <RecipeInfo>\r\n      <RecipeID>875132</RecipeID>\r\n      <Title>Brownies</Title>\r\n
        \     <Cuisine>américaine</Cuisine>\r\n      <Category>Desserts</Category>\r\n
        \     <Subcategory>Chocolate</Subcategory>\r\n      <StarRating>2</StarRating>\r\n
        \     <WebURL>http://www.bigoven.com/recipe/brownies/875132</WebURL>\r\n      <ImageURL>http://redirect.bigoven.com/pics/brownies-24.jpg</ImageURL>\r\n
        \     <ImageURL120>http://redirect.bigoven.com/pics/rs/120/brownies-24.jpg</ImageURL120>\r\n
        \     <ReviewCount>1</ReviewCount>\r\n      <Poster>\r\n        <UserID>2525950</UserID>\r\n
        \       <UserName>lguitard</UserName>\r\n        <ImageURL48>http://images.bigoven.com/image/upload/t_recipe-48,d_avatar-default.png/avatar/lguitard.jpg</ImageURL48>\r\n
        \       <IsPremium>true</IsPremium>\r\n        <IsKitchenHelper>false</IsKitchenHelper>\r\n
        \       <PremiumExpiryDate xsi:nil=\"true\" />\r\n        <MemberSince xsi:nil=\"true\"
        />\r\n        <IsUsingRecurly>false</IsUsingRecurly>\r\n      </Poster>\r\n
        \     <IsPrivate>false</IsPrivate>\r\n      <HideFromPublicSearch>false</HideFromPublicSearch>\r\n
        \     <IsBookmark xsi:nil=\"true\" />\r\n      <YieldNumber>4</YieldNumber>\r\n
        \     <QualityScore>0</QualityScore>\r\n      <CreationDate>2014-06-02T01:30:28.87Z</CreationDate>\r\n
        \     <MaxImageSquare>256</MaxImageSquare>\r\n      <TotalTries>30</TotalTries>\r\n
        \     <HeroPhotoUrl>http://images.bigoven.com/image/upload/brownies-24.jpg</HeroPhotoUrl>\r\n
        \   </RecipeInfo>\r\n    <RecipeInfo>\r\n      <RecipeID>586891</RecipeID>\r\n
        \     <Title>Brownies</Title>\r\n      <Category>Desserts</Category>\r\n      <Subcategory
        />\r\n      <StarRating>3.57142857142857</StarRating>\r\n      <WebURL>http://www.bigoven.com/recipe/brownies/586891</WebURL>\r\n
        \     <ImageURL>http://redirect.bigoven.com/pics/brownies-26.jpg</ImageURL>\r\n
        \     [...]
[...]
