---
http_interactions:
- request:
    method: get
    uri: http://api.bigoven.com/recipes?api_key=dvx763458nvGiC8cM7bHQYCPHT9KK12R&pg=1&rpp=40&title_kw=muffins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Fri, 13 Mar 2015 03:22:23 GMT
    body:
      encoding: UTF-8
      string: "<RecipeSearchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResultCount>3886</ResultCount>\r\n
        \ <Results>\r\n    <RecipeInfo>\r\n      <RecipeID>334275</RecipeID>\r\n      <Title>Muffins</Title>\r\n
        \     <Category>Bread</Category>\r\n      <Subcategory>Muffins</Subcategory>\r\n
        \     <StarRating>0</StarRating>\r\n      <WebURL>http://www.bigoven.com/recipe/muffins/334275</WebURL>\r\n
        \     <ImageURL>http://redirect.bigoven.com/pics/muffins-4.jpg</ImageURL>\r\n
        \     <ImageURL120>http://redirect.bigoven.com/pics/rs/120/muffins-4.jpg</ImageURL120>\r\n
        \     <ReviewCount>0</ReviewCount>\r\n      <Poster>\r\n        <UserID>1666591</UserID>\r\n
        \       <UserName>Schoo118</UserName>\r\n        <ImageURL48>http://images.bigoven.com/image/upload/t_recipe-48,d_avatar-default.png/avatar-default.png</ImageURL48>\r\n
        \       <IsPremium>true</IsPremium>\r\n        <IsKitchenHelper>false</IsKitchenHelper>\r\n
        \       <PremiumExpiryDate xsi:nil=\"true\" />\r\n        <MemberSince xsi:nil=\"true\"
        />\r\n        <IsUsingRecurly>false</IsUsingRecurly>\r\n      </Poster>\r\n
        \     <IsPrivate>false</IsPrivate>\r\n      <HideFromPublicSearch>false</HideFromPublicSearch>\r\n
        \     <IsBookmark xsi:nil=\"true\" />\r\n      <YieldNumber>12</YieldNumber>\r\n
        \     <QualityScore>0</QualityScore>\r\n      <CreationDate>2012-09-05T02:54:33.37Z</CreationDate>\r\n
        \     <MaxImageSquare>640</MaxImageSquare>\r\n      <TotalTries>7</TotalTries>\r\n
        \     <HeroPhotoUrl>http://images.bigoven.com/image/upload/muffins-4.jpg</HeroPhotoUrl>\r\n
        \   </RecipeInfo>\r\n    <RecipeInfo>\r\n      <RecipeID>267654</RecipeID>\r\n
        \     <Title>Muffins</Title>\r\n      <Category>Bread</Category>\r\n      <Subcategory>Muffins</Subcategory>\r\n
        \     <StarRating>0</StarRating>\r\n      <WebURL>http://www.bigoven.com/recipe/muffins/267654</WebURL>\r\n
        \     <ImageURL>http://redirect.bigoven.com/pics/muffins.jpg</ImageURL>\r\n
        \     <Image[...]
