---
http_interactions:
- request:
    method: get
    uri: http://api.bigoven.com/recipes?api_key=dvx763458nvGiC8cM7bHQYCPHT9KK12R&pg=1&rpp=40&title_kw=cupcakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Fri, 13 Mar 2015 02:47:09 GMT
    body:
      encoding: UTF-8
      string: "<RecipeSearchResult xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResultCount>916</ResultCount>\r\n
        \ <Results>\r\n    <RecipeInfo>\r\n      <RecipeID>385715</RecipeID>\r\n      <Title>Cupcakes</Title>\r\n
        \     <Cuisine />\r\n      <Category>Desserts</Category>\r\n      <Subcategory>Cakes</Subcategory>\r\n
        \     <StarRating>0</StarRating>\r\n      <WebURL>http://www.bigoven.com/recipe/cupcakes/385715</WebURL>\r\n
        \     <ImageURL>http://redirect.bigoven.com/pics/recipe-no-image.jpg</ImageURL>\r\n
        \     <ImageURL120>http://redirect.bigoven.com/pics/rs/120/recipe-no-image.jpg</ImageURL120>\r\n
        \     <ReviewCount>0</ReviewCount>\r\n      <Poster>\r\n        <UserID>1338520</UserID>\r\n
        \       <UserName>Dsawatsky</UserName>\r\n        <ImageURL48>http://images.bigoven.com/image/upload/t_recipe-48,d_avatar-default.png/avatar-default.png</ImageURL48>\r\n
        \       <IsPremium>false</IsPremium>\r\n        <IsKitchenHelper>false</IsKitchenHelper>\r\n
        \       <PremiumExpiryDate xsi:nil=\"true\" />\r\n        <MemberSince xsi:nil=\"true\"
        />\r\n        <IsUsingRecurly>false</IsUsingRecurly>\r\n      </Poster>\r\n
        \     <IsPrivate>false</IsPrivate>\r\n      <HideFromPublicSearch>false</HideFromPublicSearch>\r\n
        \     <IsBookmark xsi:nil=\"true\" />\r\n      <YieldNumber>1</YieldNumber>\r\n
        \     <QualityScore>0</QualityScore>\r\n      <CreationDate>2012-12-01T01:20:26.887Z</CreationDate>\r\n
        \     <MaxImageSquare>256</MaxImageSquare>\r\n      <TotalTries>1</TotalTries>\r\n
        \     <HeroPhotoUrl>http://media.bigoven.com/pics/recipe-no-image.jpg</HeroPhotoUrl>\r\n
        \   </RecipeInfo>\r\n    <RecipeInfo>\r\n      <RecipeID>443676</RecipeID>\r\n
        \     <Title>Cupcakes</Title>\r\n      <Cuisine />\r\n      <Category>Desserts</Category>\r\n
        \     <Subcategory>Cakes</Subcategory>\r\n      <StarRating>0</StarRating>\r\n
        \     <WebURL>http://www.bigoven.com/recipe/cupcakes/443676</WebURL>\r\n      <ImageURL>http://redirect.bigoven.com/pics/recipe-no-image.jpg</Image[...]
