<footer>
	<div class="container">
		<div class="footer-links">
			<%= link_to "Facebook",  "https://www.facebook.com/bmrsny?fref=ts" %>
			<%= link_to "Github", "https://github.com/bmrsny" %>
			<%= link_to "Twitter", "https://twitter.com/bmrsny" %>
			<p>&copy; Brandon Mrsny</p>
			<p>Powered by Recipies Api</p>
		</div>
	</div>
</footer>
