<footer>
	<div class="container">
		<div class="footer-links">
			<div class="row">
				<%= link_to "Facebook",  "https://www.facebook.com/bmrsny?fref=ts" %>
				<%= link_to "Github", "https://github.com/bmrsny" %>
				<%= link_to "Twitter", "https://twitter.com/bmrsny" %>
			</div>
			<div class="row">
				<div class="footer-p">
					<p>&copy; Brandon Mrsny | Powered by Recipies Api</p>
				</div>
			</div>
		</div>
	</div>
</footer>
