<footer>
	<div class="container">
		<div class=footer-links>
			<%= link_to "Facebook", "https://www.facebook.com/bmrsny?fref=ts" %>
			<%= link_to "Github", "https://github.com/bmrsny" %>
			<%= link_to "Twitter", "https://twitter.com/bmrsny" %>
		</div>
	</div>
</footer>
