<div class="parallax-home">
	<div class="container">
		<div class="inner-parallax-content">
			<h1 class="front-header">Delicious Recipies at Your Fingertips</h1>
        <div class="search-bar-box">
         	<%= form_tag("/", :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Ingredients", class: "form-control search-box" %>
					<div class="search-button-box">
         		<%= submit_tag "Search", :name => nil, class: "btn btn-default search-btn" %>
					</div>
        		<% end %>
				</div>
			</div>
	</div>
	<div class="seperator-box">
		<h2 class="seperator-text">Get Inspired to Cook!</h2>
		<p class="seperator-text">Delish List is your best friend when you bring it to the kitchen!
       Crafting meals has never been easier. Search a recipe, add it'
			 ingredients to your lsit, and take your shopping list with you
			 by sending it via text message. Delish List aims to create and
			 a smooth and friendly experience so you don't need to keep track
			 of that pen and paper list at the grocery store. Bringing recipes
			 right to your fingertips so you can get on with your meal and your life!</p>
	</div>
</div>
