<div class="parallax-home">
	<div class="container">
		<div class="inner-parallax-content">
			<h1 class="front-header">Delicious Recipies at Your Fingertips</h1>
        <div class="search-bar-box">
         	<%= form_tag("/", :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: "form-control search-box" %>
					<div class="search-button-box">
         		<%= submit_tag "Search", :name => nil, class: "btn btn-default search-btn" %>
					</div>
        		<% end %>
				</div>
			</div>
	</div>
	<div class="seperator-box">
		<h2 class="seperator-text">Get Inspired to Cook!</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 front-info-box">
					<p><i class="fa fa-search"></i> Search for delicious recipes quickly. 
						Search something new or search for a recipe you love. 
						Delish List aims to bring recipes of all sorts. Delish List
						also offers gluten free recipe searhes. 
				</p>
			</div>
				<div class="col-sm-3 front-info-box">
						<p><i class="fa fa-home"></i> Check out the Recipes details. Get a list of all ingredients as well
						as cooking instructions. Recipes include unit measurements and detailed
						instructions on preping and cooking your meal.</p>
				</div>
				<div class="col-sm-3 front-info-box">
					<p><i class="fa fa-check-square"></i> No need to write down ingredients by hand. Delish List offers 
						a shopping list to store all your ingredients so you don't have to. 
						Take your recipe on the go with this mobile friendly app. </p>
				</div>
		</div>
	</div>
</div>
