<h1 class="front-header">Delicious Recipies at Your Fingertips</h1>
<div class="row">
	<div class="col-sm-4 info-box">
		Delish List is your best friend when you bring it to the kitchen!
		Crafting meals has never been easier. Search a recipe, add it's
		ingredients to your lsit, and take your shopping list with you
		by sending it via text message. Delish List aims to create and
		a smooth and friendly experience so you don't need to keep track
		of that pen and paper list at the grocery store. Bringing recipes
		right to your fingertips so you can get on with your meal and your life!
	</div>
</div>
