
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', Arial, sans-serif;
	color: #fff;
}

#logo {
	text-align: center;
}

#logo img {
	width: 200px;
	margin: 0 0 0 44px;
}

.signin {
	margin: 0 10px 0 10px ;
}

.navbar-nav li a {
	color: #fff !important;
	font-size: 18px;
}

.navbar-default {
	border: 0;
	border-radius: 0;
	background-color:#3E3A37 ;
	margin: 0;
}


.signin {
	font-size: 18px;
} 

h1 {
	text-align: center;
	padding: 0 0 1% 0;

}

.front-header {
	margin: 0 0 44px;
	padding: 0 0 14px 0;
	color: #fff;
}

.info-box {
	box-shadow: 4px 4px 15px #000;
	background-color: rgba(172,136,143, .6);
	padding: 3%;
	color: #fff;
	font-size: 16px;
}

.modal-box {
	border: 2px solid #000;
	background-color: #fff;
	box-shadow: 3px 3px 30px #333, -3px -3px 30px #333;
}

.modal-inner-box {
	padding: 5%;
}

.parallax-home {
	height: auto;
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	background-image:url("tons_of_food.jpg");
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
	.parallax-home {
		background-image:url("tons_of_food.jpg");
		height: auto;
		background-position: center;
		background-size: cover;
	}
}

.inner-parallax-content {
	padding: 10% 0;
	margin: 0 auto;
}

footer {
	background-color:#3E3A37;
	height: auto;
	padding: 2% 0 1% 0 ;
}

footer a {
	color: #fff;
	text-size: 16px;
	padding: 2%;
}

.footer-links {
	text-align:center;
}

.footer-p {
	color: #fff;
	margin: 1% 0 0 0;
}


#flash_alert {
	background-color: #F45656;
	color: #fff;
	text-align: center;

}

#flash_success {
	background-color:#105E67;
	color: #fff;
	text-align: center;
}

.btn {
	margin: 5px 5px 5px 5px;
}

.search-bar-box {
	margin: 6% auto;
	width: 50%;
	text-align: center;
}

.search-bar-box .search-box {
	background-color: rgba(255,255,255, .8);
	box-shadow: 2px 2px 10px #000;
	color: #000;
	border: none;
}

.search-btn {
	border:none;
	box-shadow: 2px 2px 10px #000;
	margin-top: 4%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 680px) {
	.search-button-box {
		text-align: center;
		width: 50%;
		margin: 2%;
	}
}

.about-box {
	box-shadow: 4px 4px 15px #000;
	background-color: rgba(172,136,143, .6);
	padding: 3%;
	color: #fff;
	font-size: 16px;
	margin: 0 50px 15px 50px; 
}

.about-container {
	background-image:url("burries.jpg");
	background-size: cover;
	min-height: 500px;
}

.about {
	color: #fff;
	margin-top: 0;
	padding: 2% 0 2% 0;
}
	

.recipes-page {
	background-color:#E7E0D2;
	padding:0 0 2%;
}

.recipes-box-title {
	background-color:#105E67;
	height: 120px;
	color:#fff;
	font-size: 18px;
	padding: 2%;
	margin-bottom: 10px;
}

.recipes-box-title ul li {
	list-style-type: none;
	text-align: center;
}


.recipes-box-image {
	background-color: #fff;
	height:230px;
	background-image: url("kiwi.jpg");
	background-size: 100%;
}

.twitter-box {
	margin: 10px 20px;
	box-align: left;
}

.ingredient-btn {
	padding: 1%;
	text-align: center;
}

.seperator-box{
	background-color: #E7E0D2;
}

.seperator-text {
	color:#000;
	text-align: center;
	padding: 2%;
	margin-top: 0px;
  margin-bottom: 0px;
}

.recipe-info {
	height: 220px;
	padding: 2%;
	margin-bottom: 10px;
	text-align: center;
}

.recipe-show-page {
	min-height: 500px;
}

.ingredients {
	text-align: center;
	color: #000;
}

.recipe-heading {
	color: #000;
}

.black-heading {
	color: #000;
	text-align: center;
}

.recipe-description {
	color: #fff;
	text-align: left;
}

.seperator-box-2 {
	background-color:#105E67;
	padding:none;
}

.seperator-text-2 {
	color:#fff;
	text-align: center;
	padding: 2%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.front-info-box{
	min-height: 200px;
	margin:2%;
}

.recipe-info-box {
	height: 220px;
	padding: 2%;
	margin: 0 0 10px 10px;
	background-color: #fff;
	width: 40%;
}

.recipe-image-box {
	height: 320px;
	padding: 2%;
	margin: 0 15px 10px 15px;
	background-color: #000;
	background-image: url("kiwi.jpg");
	background-size: 100%;
}

table {
background-color: #fff;
}

.shopping-list-select-box {
	box-shadow: 4px 4px 15px #000;
	background-color: rgba(255,255,255, .6);
	padding: 3%;
	color: #fff;
	font-size: 16px;
	margin: 0 50px 15px 50px; 
}

.form-group {
	color:#000;
}




