
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', Arial, sans-serif;
	color: #333;
}

#logo {
	text-align: center;
}

#logo img {
	width: 200px;
	margin: 0 0 0 44px;
}

.signin {
	margin: 0 10px 0 10px ;
}

.navbar-default .navbar-nav>li>a {
	color: #645a4c;
	font-size: 18px;
}

.signin {
	font-size: 18px;
} 

h1 {
	text-align: center;
	padding: 0 0 1% 0;

}

.front-header {
	margin: 0 0 44px;
	padding: 0 0 14px 0;
	color: #fff;
}

.info-box {
	box-shadow: 4px 4px 15px #000;
	background-color: rgba(172,136,143, .6);
	padding: 3%;
	color: #fff;
	font-size: 16px;
}

.modal-box {
	border: 2px solid #000;
	background-color: #fff;
	box-shadow: 3px 3px 30px #333, -3px -3px 30px #333;
}

.modal-inner-box {
	padding: 5%;
}

.parallax-home {
	height: auto;
	background-position: center;
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	background-image:url('tons_of_food.jpg');
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
	.parallax-home {
		background-image:url('tons_of_food.jpg');
		height: auto;
		background-position: center;
		background-size: cover;
	}
}

.inner-parallax-content {
	padding: 10% 0;
	margin: 0 auto;
}

footer {
	background-color: #645a4c;
	height: 20px;
	padding: 2% 0 5% 0 ;
}

footer a {
	color: #fff;
	text-size: 16px;
	padding: 2%;
}

.footer-links {
	text-align:center;
}

.navbar {
 margin-bottom: 0; 
}

#flash_alert {
	background-color: #F45656;
	padding: 2%;
	height: 25px;
	margin: 5px 0 0 0;
	color: #fff;
}

#flash_success {
	background-color: #64C58D;
	padding: 2%;
	height: 25px;
	margin: 5px 0 0 0;
	color: #fff;
}

.btn {
	margin: 5px 5px 5px 5px;
}

.search-bar {
	margin: 12% 0;
}

.search-bar .search-box {
	background-color: rgba(255,255,255, .6);
	box-shadow: 2px 2px 10px #000;
	color: #000;
	border: none;
}

.search-btn {
	border:none;
	box-shadow: 2px 2px 10px #000;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 680px) {
	.search-button-box {
		text-align: center;
		width: 50%;
		margin: 2%;
	}
}

.about-box {
	box-shadow: 4px 4px 15px #000;
	background-color: rgba(172,136,143, .6);
	padding: 3%;
	color: #fff;
	font-size: 16px;
	margin: 0 50px 15px 50px;
}

.about-container {
	background-image: url('burries.jpg');
	background-size: cover;
}

.about {
	color: #fff;
}
	
.footer-links p {
	display: inline;
	color: #fff;
	padding: 1%;
}


.recipes-page {
	background-color:#E7E0D2;
	padding:0 0 2%;
}

.recipes-box-title {
	background-color:#3E3A37;
	height: 120px;
	color:#fff;
	font-size: 18px;
	text-align: center;
	padding: 2%;
}

.recipes-box-image {
	background-color: #fff;
	height:230px;
	background-image: url("kiwi.jpg");
	background-size: 100%
}

